# This is a example .env file for use in local development.
# Duplicate this file as .env in the root of the project and update the environment variables to match your desired config

# The HTTP port to run the application on
PORT=4000

# MongoDB connection string
MONGO_URI=mongodb+srv://seu_usuario:sua_senha@cluster.mongodb.net/Database

# JWT secret and expiry
JWT_SECRET=chave_secreta_jwt_123
JWT_EXPIRE=7d

# Cookie expiry
COOKIE_EXPIRE=5

# Infura API Key (necessário para o teste)
INFURA_API_KEY= c42df35aa6a545519c37fbe4feabff2e

# The environment to run the application in
NODE_ENV=development